RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteRule ^ https://moimani.ai%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.moimani\.ai$ [NC]
RewriteRule ^ https://moimani.ai%{REQUEST_URI} [R=301,L]
